doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    block css
  body
    p.error #{error}
    block content
    block script
      script(src='http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
